@import url(https://fonts.googleapis.com/css?family=Poppins);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #405D4C;
}
.register{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.register .box{
    background-color: white;
    display: flex;
    align-items: center;
    padding: 25px 25px;
    border-radius: 20px;
    box-shadow: 0 32px 64px -48px rgb(4, 4, 4);
}
.register_form{
    flex: 1;
}
.image-box img {
    width: 80%;
}
.form-box form .field{
    margin-bottom: 10px;
}
.form-box form .field p{
    color: red;
    font-size: 1rem;
}
.form-box form .input input{
    height: 40px;
    width: 100%;
    font-size: 16px;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #708B7B;
    outline: none;
}
.form-box header{
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid #708B7B;
    margin-bottom: 10px;
}
.button{
    height: 35px;
    background: #405D4C;
    border: 0;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px 10px;
}
.button:hover{
    background: #708B7B;
}
.link{
    margin-bottom: 15px;
}
